
@import "colores";

@mixin fondoDegradiente {
    background: rgb(0,25,20);
    background: -moz-linear-gradient(9deg, rgba(0,25,20,1) 7%, rgba(0,255,205,0.8855917366946778) 24%, rgba(3,62,85,1) 27%, rgba(0,0,0,0.8855917366946778) 90%);
    background: -webkit-linear-gradient(9deg, rgba(0,25,20,1) 7%, rgba(0,255,205,0.8855917366946778) 24%, rgba(3,62,85,1) 27%, rgba(0,0,0,0.8855917366946778) 90%);
    background: linear-gradient(9deg, rgba(0,25,20,1) 7%, rgba(0,255,205,0.8855917366946778) 24%, rgba(3,62,85,1) 27%, rgba(0,0,0,0.8855917366946778) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#001914",endColorstr="#000000",GradientType=1);
}
@mixin fondoCartas {
    background: rgb(0,0,0);
    background: -moz-linear-gradient(9deg, rgba(0,0,0,1) 0%, rgba(65,65,65,1) 48%, rgba(198,198,198,1) 99%);
    background: -webkit-linear-gradient(9deg, rgba(0,0,0,1) 0%, rgba(65,65,65,1) 48%, rgba(198,198,198,1) 99%);
    background: linear-gradient(9deg, rgba(0,0,0,1) 0%, rgba(65,65,65,1) 48%, rgba(198,198,198,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#c6c6c6",GradientType=1);
}

@font-face{
    font-family: 'italic';
    src: url(../Assets/Fonts/Mitr-Light.ttf);
}
@font-face {
    font-family: 'titulo';
    src: url(../Assets/Fonts/IndieFlower-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'italic';
    color: map-get($map: $colorLetra, $key: color);
}
.tituloLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    }

header{
    @include fondoDegradiente();
    display: grid;
    grid-template-columns: 30% 50% 20%;
    align-items: center;
    height: 2%;
    div a{
        text-decoration: none;
    }
    .redesSociales{
        display: flex;
        grid-column: 4/5;
        list-style: none;
    }
} 
.navegacion{
    display: flex;    
    grid-column: 2/3;
    justify-content: center;
    align-items: center;
}
.navbar{
    grid-column: 2/4;
}
.collapse {
    justify-content: space-between;
}
.nav-item{
    color: white
}
.navLink{
    list-style: none;
    display: flex;
    justify-content: center;
    a{
        color: white;
        font-family: 'italic';
        font-weight: bolder;
        padding-left: 20px;
        text-decoration: none;
    }
    a:hover{
        color: aqua;
    }
}
ul a i{
    color: rgb(255, 255, 255);
    margin-left: 5px;
}
.idiomas{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 30px;
    grid-template-columns: 3/4;
    i:hover{
        color: aqua;
    }
}
.navbar-nav{
    align-items: flex-end;
}
.navbar-dark .navbar-nav .nav-link{
    color: white;
}
.nav-item a:hover{
    color: #00d9ff !important;
}
.dropdown-menu{
    background-color:#2a5a62c2;
}
.dropdown-item{
    color: white;
}
.dropdown-item:hover{
    background-color: #2a5a62c2;
    border-radius: 20px;
}
h2{
    padding: 15px;
    margin: 15px;
}
body{
background-color: #1c1c1c;
}

.bordesredondeados{
    border: solid; color: rgb(255, 255, 255);
    border-radius: 20px;
    }
footer{
    text-align:center;
    @include fondoDegradiente();
    box-shadow:  -5px -5px 5px rgba(3,62,85,1), 10px 10px 5px rgba(3,62,85,1);
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 60px;
    clear: both;
    h3{
        margin-bottom: 10px;
    }
    .redesSociales ul{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        li{
            list-style-type: none;
            margin: 0 15px;
            justify-items: center;
            .fab{
                font-size: 20px;
                padding-right: 4px;
                padding-top: 1px;
                line-height: 38px;
                transition: 0.6s;
                color: #fff;
            }
            .fa-brands{
            @extend .fab
            }
            a{
                display: block;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                background-color: #000;
            }
            .fab:hover{
                color: #fff;
            }
            a:hover{
                transform: translate(0, -15%);
                transition: 0.5s;
            }
        }
        li:nth-child(1) a:hover{
            background-color: #3b5998;
        }
        li:nth-child(2) a:hover{
            background-color: #e4405f;
        }
        li:nth-child(3) a:hover{
            background-color: #ff0000;
        }
        li:nth-child(4) a:hover{
            background-color: #1da1f2;
        }
        li:nth-child(5) a:hover{
            background-color: #500b41;
        }
        li:nth-child(6) a:hover{
            background-color: #f58608;
        }        
    }
}
.privacidadCondiciones{
    display: flex;
    justify-content: space-evenly ;
    list-style: none;
    li a{
        color: white;
    }
}
.politicasPrivacidad{
    margin-right: 7%;
    margin-left: 7%;
    text-align: left;
    font-size: 20px;
    p{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
.pestañaPoliticas h2{
    font-size: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.imagenPrincipal{
    border: solid; color: rgb(255, 255, 255);
    width: 100%;
    height: 4%;
}
main{
    margin: 5px;
    text-align: center;
}
.col-md-6{
    max-width: 10%;
}
form{
    padding: 50px;
    text-align: left;
}
section{
    text-align: center;
}
.row{
    flex-direction: column-reverse;
}
.row .col-md-6{
    max-width: 40%;
}
ol li{
    padding: 7px;
    padding-bottom: 15px;
    }
.proyecto{
    border-radius: 20px;
    background-color: rgba(3,62,85,1);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 3%;
    margin-right: 3%;
    text-align: start;
}
.videonft{
    padding: 15px;
}
h4{
    font-size: larger;
}
/*Index*/

.portada{
    display: flex;
    row-gap: 20px;
    column-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 15%;
    margin-left: 15%;
    .portadaImagenes{
        @include fondoCartas();
        height: 490px;
        width: 480px;
        border-radius: 15px;
        box-shadow: 5px 5px 3px #636262;
        &:hover{
            box-shadow: none;
            background: rgb(0,0,0);
            background: -moz-linear-gradient(86deg, rgba(0,0,0,1) 10%, rgba(65,65,65,1) 48%, rgba(3,3,3,1) 100%);
            background: -webkit-linear-gradient(86deg, rgba(0,0,0,1) 10%, rgba(65,65,65,1) 48%, rgba(3,3,3,1) 100%);
            background: linear-gradient(86deg, rgba(0,0,0,1) 10%, rgba(65,65,65,1) 48%, rgba(3,3,3,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#030303",GradientType=1);
        }
        a img{
            height: 400px;
            width: 400px;
        }
        a h3{
            color: white;
            text-align: start;
            padding-left: 20px;
        }
        a p{
            color: white;
            text-align: start;
            padding-left: 20px;
        }
        a:hover{
            text-decoration: none;
            
        }
    }
}



/*box sobre nosotros*/
.nosotros{
    display: flex;
    justify-content: left;
    flex-direction: row;
    justify-content: space-around;
}
.nosotrosBox{
    width: 250px;
    height: 355px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 34px;
    background: #161616;
    box-shadow: -13px -13px 26px #000000, 13px 13px 10px rgba(3,62,85,1);
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    &:hover{
        background: #000000;
        box-shadow: none;
        border: solid rgba(3,62,85,1);
    }
}

/*box nft*/
.introduccionNft{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 70px;
}
.nftcontenedor{
    display: flex;
    grid-template-columns: repeat(3,1fr);
    row-gap: 40px;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}
.nftBox{
    width: 390px;
    height: 430px;
    float: left;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    top: 0;
    text-align: center;
    transition: all 0.25s;
    @include fondoCartas();
    img{
        width: 330px;
        height: 200px;
    }
    &:nth-child(1) {
        margin: 0 50px;
        }
    &:nth-child(2) {
    margin: 0 50px;
    }
    &:nth-child(3) {
        margin: 0 50px;
        }
    &:nth-child(4) {
        margin: 0 50px;
    }
    &:nth-child(5) {
        margin: 0 50px;
    }
    &:nth-child(6) {
        margin: 0 50px;
    }
    &:nth-child(7) {
        margin: 0 50px;
    }
    &:nth-child(8) {
        margin: 0 50px;
    }
    &:nth-child(9) {
        margin: 0 50px;
    }
    &:nth-child(10) {
        margin: 0 50px;
    }
    &:nth-child(11) {
        margin: 0 50px;
    }
    &:nth-child(12) {
        margin: 0 50px;
    }
    &:hover {
    top: -15px;
    box-shadow: 0 12px 16px rgba(252, 252, 252, 0.911);
    }
    h4 {
    font-weight: 600;
    }
    p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    }
    a {
    font-weight: 500;
    text-decoration: none;
    color: $light-blue;
    }
}

/*Proyecto*/

.roadmap-container{
    float:left;
    width:100%;
    padding:50px 0;
    font-family:"Stag Sans Round",sans-serif;
    font-size: 16px;
.roadmap-auto{
    max-width:950px;
    margin:0 auto;}
.roadmap-h2{
    background:url(../template/images/underline-background.png) center bottom no-repeat;
    background-size:250px 3px;
    color:#ffffff;z-index:1;
    font-size:45px;
    line-height:55px;
    font-weight:500;
    position:relative;
    margin-bottom:20px;
    padding-bottom:6px;
    text-align: center;}
.roadmap-timeline{
    padding-top:30px;
    max-width:1000px;
    margin:0 auto;}
.timeline-dot{
    position: absolute;
    left:50%;z-index:3;
    width:8px;height:8px;
    margin-left:-6px;
    border:2px solid #1BACB3;
    border-radius:6px;
    background-color:#1BACB3;}
.timeline-list{
    float:left;
    width:100%;
    position: relative;
    background-color: rgb(48, 48, 48);
    border-radius: 10px;
}
.timeline-list .timeline-list-col{
    float:left;
    width:50%;
    padding-top:50px;
    padding-right:0;
    padding-left:0;
    position:relative;
    z-index: 3;}
.timeline-list .timeline-item-block{
    width:350px;
    margin-bottom:50px;
    float:left;
    text-align: left;}
.timeline-list .timeline-item-block17q4{
    margin-top:50px;}
.timeline-list .timeline-item-block18q2{
    margin-top:50px;}
.timeline-list .timeline-item-block .timeline-item-time{
    position:relative;
    width:320px;
    min-height:36px;
    border-bottom:0 solid #1BACB3;}
.timeline-list .timeline-item-block .timeline-item-label{
    float:left;
    font-size:24px;
    line-height:26px;
    font-weight:500;
    text-align:left;
    text-transform:uppercase;
    color:rgb(255, 255, 255);}
.timeline-list .timeline-item-block .timeline-item-content{
    position:relative;
    left:0;width:280px;
    margin-top:0;
    margin-right:40px;
    float:left;
    width:100%;
    font-size:16px;
    line-height:21px;
    color:#555;
    font-weight:400;
    text-transform:none;
    border:1px solid #ddd;
    border-top:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:10px;
    padding-bottom:0;}
.timeline-list .timeline-item-block .timeline-item-content p{
    background:url(../template/images/arrow-dot-gray2.png) 0 2px no-repeat;
    margin-bottom:10px;
    background-size:16px 16px;
    padding-left:24px;}
.timeline-list .timeline-item-block .timeline-item-content p.no-bullet{
    background:none;
    padding-left:0;}
.timeline-list .timeline-col-right{
    padding-top:150px;}
.timeline-list .timeline-col-right .timeline-item-block{
    float:right;}
.timeline-list .timeline-col-right .timeline-item-label{
    float:right;
    text-align: right;}
.timeline-list .timeline-col-right .timeline-item-content{
    text-align: left;
    margin-left:0px;
    margin-right:0;}
.timeline-list .timeline-list-vr{
    width:0;
    height:100%;
    border-left:1px solid #1BACB3;
    border-right:1px solid #1BACB3;
    position: absolute;
    left:50%;
    margin-left:-1px;
    z-index: 2l}
.timeline-list .timeline-item-label-hr{
    float:left;
    width:475px;
    height:3px;
    background-color: #555;
    position: relative;}
.timeline-list .timeline-item-block .item-dot{
    left:auto;
    right:0;
    bottom:-5px;
    margin-right:-6px;
    margin-left:0;}
.timeline-list .timeline-col-right .item-dot{
    left:0;
    right:auto;
    margin-right:0;
    margin-left:-7px;}
.timeline-list .timeline-col-right .timeline-item-label-hr{
    margin-left:-125px;}

.timeline-list .timeline-item-block .timeline-item-label2{
    font-size:18px;
    line-height:24px;
    font-weight:400;
    text-align:left;
    text-transform:uppercase;
    color:#fff;
    padding:7px 10px 6px 10px;}
.timeline-list .timeline-item-block-green .timeline-item-label2{
    background-color:#78BE20;}
.timeline-list .timeline-item-block-green .timeline-item-label-hr{
    background-color:#78BE20;}
.timeline-list .timeline-item-block-green .item-dot{
    background-color:#78BE20;
    border-color:#fff;}
.timeline-list .timeline-item-block-green2 .timeline-item-label2{
    background-color:#26A3AA;}
.timeline-list .timeline-item-block-green2 .timeline-item-label-hr{
    background-color:#26A3AA;}
.timeline-list .timeline-item-block-green2 .item-dot{
    background-color:#26A3AA;
    border-color:#fff;}
.timeline-list .timeline-item-block-blue .timeline-item-label2{
    background-color:#159CDF;}
.timeline-list .timeline-item-block-blue .timeline-item-label-hr{
    background-color:#159CDF;}
.timeline-list .timeline-item-block-blue .item-dot{
    background-color:#159CDF;
    border-color:#fff;}
.timeline-list .timeline-item-block-blue2 .timeline-item-label2{
    background-color:#00507F;}
.timeline-list .timeline-item-block-blue2 .timeline-item-label-hr{
    background-color:#00507F;}
.timeline-list .timeline-item-block-blue2 .item-dot{
    background-color:#00507F;
    border-color:#fff;}
.timeline-list .timeline-item-block-violet .timeline-item-label2{
    background-color:#890C58;}
.timeline-list .timeline-item-block-violet .timeline-item-label-hr{
    background-color:#890C58;}
.timeline-list .timeline-item-block-violet .item-dot{
    background-color:#890C58;
    border-color:#fff;}
.timeline-list .timeline-item-block-mobile{
    display: none;}
}

@media screen and (max-width:950px){

	.roadmap-container{padding:22px 0;}
	.spacer-block{margin-bottom:0;}
	.roadmap-container .roadmap-h2{font-size:25px;line-height:30px;background-size:150px 3px;}
	.roadmap-container .timeline-list .timeline-list-vr{left:20px;}
	.roadmap-container .timeline-dot{left:20px;}
	.roadmap-container .roadmap-timeline{padding-top:0;}
	.roadmap-container .timeline-list .timeline-list-col{float:none;width:auto;margin-left:25px;padding-left:25px;margin-right:25px;}
	.roadmap-container .timeline-list .timeline-item-block-mobile{display: block;}
	.roadmap-container .timeline-list .timeline-item-block .timeline-item-time{width:auto;}
	.roadmap-container .timeline-list .timeline-item-label-hr{float:none;width:auto;margin-left:-30px;}
	.roadmap-container .timeline-list .timeline-item-block .timeline-item-label{float:none;}
	.roadmap-container .timeline-list .timeline-item-block .item-dot{left:0;right:auto;margin-left:-6px;margin-right:0;}
	.roadmap-container .timeline-list .timeline-item-block .timeline-item-label2{width:auto;}
	.roadmap-container .timeline-list .timeline-item-block .timeline-item-content{float:none;width:auto;margin-right:0;}
	.roadmap-container .timeline-list .timeline-col-right{display: none;}
	.roadmap-container .timeline-list .timeline-item-block{float:none;width:auto;}

}

/*media querie*/

@media screen and (max-width: 1290px) {
    .nftcontenedor{
        grid-template-columns: repeat(3,1fr);
    }
    .nosotros{
        flex-wrap: wrap;
}
}
@media screen and (max-width: 1090px) {
    header{    
    grid-template-columns: 20% 60% 20%;
    }

}

@media screen and (max-width: 960px) {
    .nftcontenedor{
        grid-template-columns: repeat(2,1fr);
    }
    .pestañaPoliticas h2{
        font-size: 40px;
    }
}
@media screen and (max-width: 750px) {

    .tituloLogo a h1{
        font-size: 15px;
    }
    .tituloLogo a .logo{
    font-size: 10px;
    }
}
@media screen and (max-width: 680px) {
    .nftcontenedor{
        grid-template-columns: repeat(1,1fr);
    }
    .videonft{
        width: 300px;
        height: 200px;
    }
    .proyecto{
        font-size: 15px;
    }
    .pestañaPoliticas h2{
        font-size: 20px;
}
}
@media screen and (max-width: 420px) {
    .menuBar{
        display: flex;
        justify-content: end;
    }
    .navegacion{
        display: none;
    }
    .tituloLogo a h1{
        font-size: 15px;
    }
    .tituloLogo a .logo{
    font-size: 10px;
    }
    .redesSociales ul{
        flex-wrap: wrap;
    }
}

